@import "variables.css";
@import "layout-primitives.css";
@import "responsive_screens.css";
@import "text.css";


.button-color {
    background-color: brown;
    color: blanchedalmond;
}

.left-margin-medium {
    margin-left: var(--s0)
}